body {
    background-color: white;
    text-align: center;
}

.navbar {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.5rem;
    border-bottom: 1px solid #ddd;
    background-color: white;
    font-size: 0.8rem;
}


.navbar .nav-link img.nav-icon {
    width: 20px;
    height: 20px;
}

.search-bar {
    display: flex;
    width: 1250px;
    height: 38px;
    padding: 0.25rem;
    align-items: center;
    font-size: 0.8rem;
    background-color: #eee;
    border-radius: 12px;
}

img.search-icon {
    width: 20px;
    height: 17px;
    margin-left: 8px;
    filter: invert(0.5);
}

img.home-icon {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    filter: grayscale(100%); 
}

img.create-icon {
    width: 24px;
    height: 24px;
}

.nav-search {
    background-color: #eee;
    flex: 1;
    border: none;
    font-size: 1rem;
    padding-left: 6px;
    font-weight: 500;
    color: #555;
}

.nav-search::placeholder {
    color: #555;
}

.nav-search:focus {
    outline: none;
}